<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Flex Tech</h1>
    <br />
    <h2>This is your guide to becoming a Flexpert</h2>
    <br / >
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br/>
  </div>
</div>

<br />
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Flex Plans</h3>
    <br />
    <p>Find a plan for you.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>Flex Pass</h3>
    <br />
    <p> Become a member.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>Tech Tips</h3>
    <br />
    <p>Join our Flex Tech Community.</p>
  </div>
  <br />
</div>