<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Soul, Spirit, and Mindfulness -- YOGA</h1>
    <br />
    <h2>This is your YOGA Guide</h2>
    <br / >
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br/>
  </div>
</div>

<br />
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>YOGA Lessons</h3>
    <br />
    <p>Choose from the list of lessons with a YOGA instructor.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>Learn more about the YOGA classes</h3>
    <br />
    <p> Sign up with a virtual YOGA instructor.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>YOGA Comm</h3>
    <br />
    <p>Join our YOGA Community</p>
  </div>
  <br />
</div>