<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Travel like a GURU</h1>
    <br />
    <h2>This is your guide</h2>
    <br / >
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br/>
  </div>
</div>

<br />
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Places</h3>
    <br />
    <p>Choose from the list of places to travel with a tour guide.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>Learn more about the Places</h3>
    <br />
    <p> Sign up with a travel tour guide.</p>
  </div>
  <br />

  <div class="col-12 col-sm">
    <h3>Feature 3</h3>
    <br />
    <p>Join our Community</p>
  </div>
  <br />
</div>